@page "/readers"
@using VG8KS3_LibraryApp.Shared.Models

@inject HttpClient Http

<PageTitle>Readers</PageTitle>


<style>
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #6f42c1 !important;
        border-color: #6f42c1 !important;
        color: white !important;
    }
</style>
<div class="container-fluid">
    <div class="row vh-100">
        
        <div class="col-10 bg-light p-4">
            <h3>All readers in the database.</h3>
            @if (readers == null)
            {
                <p>Loading...</p>
            }
            else
            {
                <table class="table table-bordered table-striped" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Date of birth</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var r in readers)
                    {
                        <tr>
                            <td>@r.ReaderId</td>
                            <td>@r.Name</td>
                            <td>@r.Adress</td>
                            <td>
                                @($"{r.DateOfBirth.Year} / {r.DateOfBirth.Month} / {r.DateOfBirth.Day}")
                            </td>
                            <td class="text-center">
                                <a href="/readers/update" class="btn btn-primary btn-outline-light align-content-center">
                                    <span class="bi bi-pencil-square" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>

        <div class="col-2 d-flex flex-column justify-content-center align-items-center text-white">
            <a href="/readers/add" class="btn btn-primary btn-outline-light mb-3 w-75">
                <span class="bi bi-plus-square" aria-hidden="true"></span> Add
            </a>
            <a href="/readers/search" class="btn btn-primary btn-outline-light w-75">
                <span class="bi bi-search" aria-hidden="true"></span> Search
            </a>
        </div>

    </div>
</div>







@code {
    private List<ReaderDto>? readers;

    protected override async Task OnInitializedAsync()
    {
        readers = await Http.GetFromJsonAsync<List<ReaderDto>>("api/Reader");
    }
}