@page "/readers/update/"
@page "/readers/update/{id:int}"
@using VG8KS3_LibraryApp.Shared.Models
@inject HttpClient Http



<style>
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #6f42c1 !important;
        border-color: #6f42c1 !important;
        color: white !important;
    }
</style>


<PageTitle>Update Reader</PageTitle>

@if (readerToUpdate == null)
{
    <p>Loading...</p>
}
else
{
    
    <h3 class="mb-5 mt-5">Update the details of the reader: "@readerToUpdate.Name".</h3>
  
    <EditForm Model="@readerToUpdate" OnValidSubmit="@HandleUpdateReader" class=" d-flex flex-column justify-content-center align-items-center">
        
        <table class="table table-striped table-bordered mt-5 mb-5">
            
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Date of birth</th>
                <th class="text-center align-middle">Publish</th>
            </tr>
            </thead>
            
            <tbody>
            <tr>
                <td>
                    <InputText @bind-Value="readerToUpdate.Name" placeholder="Name" class="form-control mb-2"/>
                </td>
                <td>
                    <InputText @bind-Value="readerToUpdate.Adress" placeholder="Address" class="form-control mb-2"/>
                </td>
                <td>
                    <InputDate @bind-Value="readerToUpdate.DateOfBirth" class="form-control mb-2"/>
                </td>
               <td class="text-center align-middle">
                    <button type="submit" class="btn btn-primary btn-outline-light mb-3 w-75">
                        <span class="bi bi-plus-square" aria-hidden="true"></span> Update
                    </button>
                </td>
            </tr>
            </tbody>
            
        </table>
        
    </EditForm>
}

<div class="col-12 d-flex flex-column justify-content-around align-items-center text-white mt-5 mb-5">
    
    <a href="/readers" class="btn btn-primary btn-outline-light mt-5 mb-5" style=" width: 500px;  font-size: 20px;">Cancel</a>

</div>




@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;
    [Parameter] public int id { get; set; }
    
    /// <summary>
    /// the reader object we want to update in the database
    /// </summary>
    private Reader? readerToUpdate;

    
    protected override async Task OnInitializedAsync()
    {
        await LoadBookAsync();
    }

    /// <summary>
    /// method to load reader from the database by the given id
    /// </summary>
    private async Task LoadBookAsync()
    {
        var response = await Http.GetAsync($"api/Reader/{id}");

        if (response.IsSuccessStatusCode)
        {
            readerToUpdate = await response.Content.ReadFromJsonAsync<Reader>();
        }
        else
        {
            Console.WriteLine("Reader not found or failed to load.");
            readerToUpdate = null;
        }
    }
    
    /// <summary>
    /// method to UPDATE READER from the database via HTTP Controllers 
    /// </summary>
    private async Task HandleUpdateReader()
    {
        if (readerToUpdate is null)
        {
            return;
        }
            
        var response = await Http.PutAsJsonAsync($"api/Reader/{id}", readerToUpdate);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Reader updated successfully.");
            Navigation.NavigateTo("/readers");
        }
        else
        {
            Console.WriteLine("Failed to update the reader.");
        }

    }


}
