@page "/borrows/add"
@using VG8KS3_LibraryApp.Shared.Models
@inject HttpClient Http



<style>
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #6f42c1 !important;
        border-color: #6f42c1 !important;
        color: white !important;
    }
</style>

<PageTitle>Add borrow</PageTitle>

<h3 class="mb-5 mt-5">Add a new borrow to the database.</h3>

<EditForm Model="@borrowToAdd" OnValidSubmit="@HandleAddBorrow" class=" d-flex flex-column justify-content-center align-items-center">
    <table class="table table-striped table-bordered mt-5 mb-5 text-center align-middle">
        
        <thead>
        <tr>
            <th>Book ID</th>
            <th>Reader ID</th>
            <th>Date of borrow</th>
            <th>Date of return</th>
            <th>Publish</th>
        </tr>
        </thead>
        
        <tbody>
        <tr>
            <td>
                <InputNumber @bind-Value="borrowToAdd.BookId" placeholder="Book ID" class="form-control mb-2"/>
            </td>
            <td>
                <InputNumber @bind-Value="borrowToAdd.ReaderId" placeholder="Reader ID" class="form-control mb-2"/>
            </td>
            <td>
                <InputDate @bind-Value="borrowToAdd.DateOfBorrow" class="form-control mb-2"/>
            </td>
            <td>
                <InputDate @bind-Value="borrowToAdd.DateOfReturn" class="form-control mb-2"/>
            </td>
            <td>
                <button type="submit" class="btn btn-primary btn-outline-light mb-3 w-75">
                    <span class="bi bi-plus-square" aria-hidden="true"></span> Add
                </button>
            </td>
        </tr>
        </tbody>
    
    </table>
</EditForm>

<div  class="col-12 d-flex flex-column justify-content-around align-items-center text-white mt-5 mb-5">
    <a href="/books" class="btn btn-primary btn-outline-light " style=" width: 500px;  font-size: 20px;" >Cancel</a>
</div>


@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;
    
    private BorrowDto borrowToAdd = new BorrowDto();
    
    private async Task HandleAddBorrow()
    {
        var response = await Http.PostAsJsonAsync($"api/Borrow", borrowToAdd);
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Borrow added successfully.");
            borrowToAdd = new BorrowDto();
            Navigation.NavigateTo("/borrows");
        }
        else
        {
            Console.WriteLine("Failed to add the borrow.");
        }

    }
}